
  <section class="authors">
      <div class="container">
          <div class="authors__wrapper">
              <div class="author__wrapper__title">International Patenting Activity Density Index (IPAD)<sup>1,2,3,5</sup></div>
              <div class="about__wrapper__image">
                  <img src="assets/formula1.svg" alt="formula1">
              </div>
          </div>

          <div class="authors__wrapper">
              <div class="author__wrapper__title margin">Index of External Technological Specialization (IETS)<sup>4</sup></div>
              <div class="about__wrapper__image">
                  <img src="assets/formula2 (1).png" alt="formula2">
              </div>
          </div>

          <div class="about__list">
              <ul>
                  <li class="about__list__item">1. Kelvin W. Willoughby & Nadezhda Mullina, Reverse Innovation,
                      International Patenting and Economic Inertia:
                      Constraints to Appropriating the Benefits of
                      Technological Innovation,” Technology in Society, Volume 67, November 2021, 101712.
                      https://doi.org/10.1016/j.techsoc.2021.101712</li>
                  <li class="about__list__item">2. Nadezhda Mullina and Kelvin W. Willoughby, “Do exports mediate the
                      relationship between international patenting and
                      economic development?”, Paper for
                      R&D Management Conference, Research and Development Management Association, 7-8 July 2021</li>
                  <li class="about__list__item">3. “Endogenous innovation, outward-bound international patenting and
                      national economic development,” The Journal of
                      Technology Transfer, 45, 3 (2020), 844–
                      869. Kelvin W. Willoughby. https://doi.org/10.1007/s10961-018-9705-1</li>
                  <li class="about__list__item">4. Willoughby, Kelvin W. and Nadezhda Mullina, “Global Innovation,
                      Outbound International Patenting and Emerging
                      Countries,” Paper for R&D Management
                      Conference, Research and Development Management Association, École Polytechnique and HEC Paris,
                      Paris, France, 17-21
                      June 2019.</li>
                  <li class="about__list__item">5. Willoughby, Kelvin W., and Nadezhda Mullina, “Endogenous
                      Innovation, Outward-Bound International Patenting and
                      National Economic Development,”
                      Proceedings of the International Conference Intellectual Rights: Challenges of the 21st Century
                      2019, Tomsk, November
                      14-16, 2019, pp 165-170.</li>
              </ul>
          </div>
      </div>
  </section>





