<body>
<footer class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <div class="footer__logo">
                Patent Analytics Tool
            </div>
            <nav class="footer__nav">
                <ul>
                    <li class="nav__item"> <a routerLink="" class="nav__link foot">Main</a> </li>
                    <li class="nav__item"> <a routerLink="/research" class="nav__link foot">Research</a></li>
                    <li class="nav__item"> <a routerLink="/countries" class="nav__link foot">Countries</a></li>
                    <li class="nav__item"> <a routerLink="/about" class="nav__link foot">About</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>
</body>