
    <section class="authors">
        <div class="container">
            <h2 class="author__title">Authors of the theory</h2>
            <div class="authors__wrapper">
                <div class="authors__body">
                    <div class="author__image">
                        <img src="assets/author1.png" alt="author1">
                    </div>
                    <div class="author__wrapper__text">
                        <div class="author__p">Professor Dr. Kelvin Willoughby</div>
                        <ul>
                            <li class="intro__li">
                                Holder of the Chair of Innovation Management und Entrepreneurship, HHL Leipzig Graduate
                                School of Management, Leipzig,
                                Germany
                            </li>
                            <li class="intro__li">
                                Doctor of Philosophy (Ph.D.) in Strategic Management and Technology Management, The
                                University of Western Australia,
                                Perth, Australia
                            </li>
                            <li class="intro__li">
                                Doctor of Philosophy (Ph.D.) in Technology Studies, Murdoch University, Perth, Australia
                            </li>
                        </ul>
                        <div class="author__p bottom">Prof. Kelvin Willoughby is an expert on the management of
                            intellectual
                            property, technology-based entrepreneurship, and
                            strategic planning for technology-based industry development. He holds doctorates in both
                            strategic management and
                            technology studies, and a masters degree in intellectual property law. Professor Willoughby
                            has
                            extensive experience as
                            a university professor, researcher and industry consultant in the United States, Europe,
                            Asia,
                            Australia and Russia.</div>
                    </div>
                </div>

                <a href="https://kelvinwilloughby1.academia.edu" class="authors__info">More information on
                    <span>https://kelvinwilloughby1.academia.edu</span> </a>


            </div>



            <div class="authors__wrapper">
                <div class="authors__body second">

                    <div class="author__wrapper__text">
                        <div class="author__p second">Doctorate candidate Nadezhda Mullina
                        </div>
                        <ul>
                            <li class="intro__li">
                                PhD student at HHL Leipzig Graduate School of Management, Leipzig, Germany
                            </li>
                            <li class="intro__li">
                                Dissertation topic: Intellectual Property and International Pathways for Appropriating
                                Value from Endogenous
                                Technological Innovation
                            </li>
                            <li class="intro__li">
                                Master of Science in Organization of high-tech production and logistics systems
                            </li>
                            <li class="intro__li">
                                Bachelor in Innovations
                            </li>
                        </ul>
                    </div>

                    <div class="author__image">
                        <img src="assets/author2.png" alt="author1">
                    </div>
                </div>

                <a href="mailto:nadezhda.mullina@hhl.de" class="authors__info">Contact by
                    <span>nadezhda.mullina@hhl.de</span> </a>


            </div>
        </div>
    </section>

 

